.box {
	overflow: auto;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
}

.scroll {
	width: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	z-index: 3;
}

.box::-webkit-scrollbar { 
    display: none; 
}

.box {
 -ms-overflow-style: none;
}

.text {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-right: 20px;
}

#text-main {
	font-size: 20px;
}

#text-desc {
	font-size: 15px;
	color: #777;
}

.dollar-image {
	display: hidden;
	z-index: 2;
}