.box {
	overflow: auto;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	-ms-overflow-style: none;
}

.scroll {
	width: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	z-index: 3;
}

.box::-webkit-scrollbar { 
  display: none; 
}

.text {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-right: 100px;
  margin-left: 10px;
}

#text-main {
	font-size: 20px;
}

#text-desc {
	font-size: 15px;
	color: #777;
}

.dollar-image {
	display: hidden;
	z-index: 2;
/*	background-repeat:no-repeat;
	background-position:center; */
/*	height: 368px;
	width: 640px;*/
	position: absolute;
	top: -369px;
}