body {
  //background-color: #202020;
  //color: #F5F5F5;
  font-family: monospace;
  max-width: 81ch;
  margin: 1em auto;
  line-height: 1.2;
}

div {
  margin: auto;
  display: block;
}

h1 {
  font-size: 1em;
  font-weight: bold;
  //color: navy;
  background-color: transparent;
  margin: .67em 0;
  text-transform: uppercase;
  display:inline-block;
}

h2 {
  font-size: 1em;
  font-weight: bold;
  //color: navy;
  background-color: transparent;
  //font-style: italic;
  margin: .8em 0;
}

a {
  //text-decoration: none;
  //color: #72BCD4;
}

a:hover {
  //text-decoration: underline;
}

p {
  margin: 1em 0;
}

em {
  font-style: italic;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
  //color: blue;
  background-color: transparent;
}

#title {
  font-size: 1em;
  text-transform: none;
  font-weight: normal;
  margin: .67em 0;
  margin-bottom: 2em;
}

.container > div {
  margin-bottom: 2em;
}

.group {
  margin: 1em;
}

.item {
  margin: 1em;
}
