html,
body {
  height: 100%;
  width: 100%;
}

.center {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.trippy-wrapper {
  display: table;
	position: absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	overflow: hidden;
}

.trippy {
	position: absolute;
	left: -250%;
  top: -250%;
	height: 500%;
  width: 500%;
  z-index:-2;
  background: #000 url(http://s.cdpn.io/1202/tree_bark.png);
  overflow: hidden;
  -webkit-animation: animation--background 2s linear infinite forwards;
  -moz-animation: animation--background 2s linear infinite forwards;
  -ms-animation: animation--background 2s linear infinite forwards;
  -o-animation: animation--background 2s linear infinite forwards;
  animation: animation--background 2s linear infinite forwards;
}

.trippy :after {
  overflow: hidden;
  position: absolute;
  left: -250%;
  top: -250%;
  height: 500%;
  width: 500%;
  background: #000;
}

@-webkit-keyframes animation--background {
  0% {
  	-webkit-transform: rotate(0deg);
    background-position: -200em 50em;
  }
  
  100% {
  	-webkit-transform: rotate(360deg);
    background-position: 200em -10em;
  }
}

@-moz-keyframes animation--background {
  0% {
    -moz-transform: rotate(0deg);
    background-position: -200em 50em;
  }
  
  100% {
    -moz-transform: rotate(360deg);
    background-position: 200em -10em;
  }
}

@-ms-keyframes animation--background {
  0% {
    -ms-transform: rotate(0deg);
    background-position: -200em 50em;
  }
  
  100% {
    -ms-transform: rotate(360deg);
    background-position: 200em -10em;
  }
}

@-o-keyframes animation--background {
  0% {
    -o-transform: rotate(0deg);
    background-position: -200em 50em;
  }
  
  100% {
    -o-transform: rotate(360deg);
    background-position: 200em -10em;
  }
}

@keyframes animation--background {
  0% {
    transform: rotate(0deg);
    background-position: -200em 50em;
  }
  
  100% {
    transform: rotate(360deg);
    background-position: 200em -10em;
  }
}